/*-------------------------------------------------*/
/* =  fonts.begin
/*-------------------------------------------------*/

@font-face {
    font-family: MuseoSans;
    font-display: swap;
    src: url(../fonts/MuseoSansLight/MuseoSansLight.woff) format("woff"), url(../fonts/MuseoSansLight/MuseoSansLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: MuseoSans;
    font-display: swap;
    src: url(../fonts/MuseoSansRegular/MuseoSansRegular.woff) format("woff"),
        url(../fonts/MuseoSansRegular/MuseoSansRegular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: MuseoSans;
    font-display: swap;
    src: url(../fonts/MuseoSansMedium/MuseoSansMedium.woff) format("woff"), url(../fonts/MuseoSansMedium/MuseoSansMedium.ttf) format("truetype");
    font-style: normal;
    font-weight: 600
}

@font-face {
    font-family: MuseoSans;
    font-display: swap;
    src: url(../fonts/MuseoSansBold/MuseoSansBold.woff) format("woff"), url(../fonts/MuseoSansBold/MuseoSansBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: MuseoSans;
    font-display: swap;
    src: url(../fonts/MuseoSansBlack/MuseoSansBlack.woff) format("woff"), url(../fonts/MuseoSansBlack/MuseoSansBlack.ttf) format("truetype");
    font-style: normal;
    font-weight: 900
}

@font-face {
    font-family: 'Segoe Script';
    font-display: swap;
    src: url('../fonts/Segoe Script.woff2') format('woff2'),
        url('../fonts/Segoe Script.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB02;
}

/*-------------------------------------------------*/
/* =  fonts.end
/*-------------------------------------------------*/