@import url('../css/vendor/reset.css');

@import url('../css/fonts.css');
@import url('../css/grid24.css');
@import url('../css/basic.css');
@import url('../css/navbar.css');
@import url('../css/header.css');
@import url('../css/advantages.css');
@import url('../css/stop.css');
@import url('../css/water.css');
@import url('../css/networking.css');














.wrap-networking-info{
	padding-top: 54px;
	padding-bottom: 56px;	
}
.wrap-networking-info p{
	font-size: 20px;
	font-weight: 300;
	margin-top: 0;
	position: relative;
	z-index: 2;
}
.img-networking-info{
	position: absolute; top: -26px; right: 19.5%;
}

@media screen and (max-width: 1100px) {		
	
	.img-networking-info{
		right: 12.5%;
	}
	
}
@media screen and (max-width: 1000px) {		
	
	.img-networking-info{
		right: 8%;
	}
	
}
@media screen and (max-width: 950px) {		
	
	.img-networking-info{
		right: 4%;
	}
	
}
@media screen and (max-width: 880px) {			
	
	.wrap-networking-info p{
		max-width: 550px;		
	}
	.img-networking-info{
		top: auto; bottom: 0; right: 0%;
	}
	
}
@media screen and (max-width: 767px) {		
	
	.img-networking-info{
		position: relative; top: 0; bottom: 0; right: 0;
		display: block;
		margin: 0 auto -56px auto;
	}
	.wrap-networking-info p{
		max-width: 767px;		
	}	
	
}
@media screen and (max-width: 550px) {			
	
	.wrap-networking-info p{
		font-size: 18px;
	}	
	
}
@media screen and (max-width: 400px) {			
	
	.wrap-networking-info p{
		font-size: 16px;
	}	
	
}















.bg-lightning{
	min-height: 496px;
	background: url('../img/bg/bg-lightning.png') no-repeat center 90px;
}

.b-lightning{
	max-width: 540px;
	display: table;
	width: 100%;
	height: 406px;
	text-align: center;
	margin: 0 auto;
}
.b-lightning-cell{
	display: table-cell;
	vertical-align: middle;
}

.b-lightning-cell p{
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {		
	
	.bg-lightning{
		background-position: center center;
		min-height: 396px;		
	}	
	.b-lightning{
		height: 306px;
	}
	
}













.bg-honestly{
	min-height: 352px;
}
.bg-honestly .wrap{
	padding-bottom: 0;
}

.b-honestly{
	margin-top: 35px;
	padding: 0 0 35px 460px;
	position: relative;
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	min-height: 283px;
}

.img-honestly{
	position: absolute; bottom: 0; left: -35px;
}

@media screen and (max-width: 1100px) {		
	
	.img-honestly{
		left: 0;
	}
	
}
@media screen and (max-width: 767px) {		
	
	.img-honestly{
		position: relative; bottom: 0; left: 0;
		display: block;
		margin: 0 auto;
	}
	.b-honestly{
		margin: 0 0 -55px;
		padding: 0;		
	}
	
}
@media screen and (max-width: 479px) {		
	
	.b-honestly{
		font-size: 18px;	
	}
	
}
@media screen and (max-width: 400px) {		
	
	.b-honestly{
		font-size: 16px;	
	}
	
}












.bg-question{
	min-height: 329px;
	background: url('../img/bg/bg-question.png') no-repeat center top;
}
.b-question{
	display: table;
	width: 100%;
	height: 249px;
	text-align: center;
	font-size: 25px;
}
.b-question-cell{
	display: table-cell;
	vertical-align: middle;
}
.b-question-cell p{
	margin: 0;
}
.b-question-cell h2{
	margin: 5px 0 0;
}

@media screen and (max-width: 479px) {		
	
	.b-question{		
		font-size: 20px;
	}
	
}











.bg-number-1{
	min-height: 340px;
	background: url('../img/bg/bg-number-1.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 4;
}
.bg-number-2{
	min-height: 340px;
	background: url('../img/bg/bg-number-2.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 3;
}
.bg-number-3{
	min-height: 340px;
	background: url('../img/bg/bg-number-3.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: 2;
}
.bg-number-4{
	min-height: 340px;
	background: url('../img/bg/bg-number-4.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;	
	z-index: 2;
}

.bg-number-1 .wrap,
.bg-number-2 .wrap,
.bg-number-3 .wrap,
.bg-number-4 .wrap{
	padding: 0 15px;
}

.b-number{
	display: table;
	width: 100%;
	height: 340px;	
	font-size: 20px;
	color: rgb(255, 255, 255);
	line-height: 1.5;	
	table-layout: fixed;
}
.b-number-2{	
	color: #000;	
}

.b-number-cell{
	position: relative;
	display: table-cell;
	vertical-align: middle;	
}

.b-number-text{
	font-weight: 300;
}
.b-number-text p{
	max-width: 345px;
}

.b-number-cell-pict{
	vertical-align: bottom;
}

.img-number-man{
	display: block;
	margin: 0 auto;
}
.b-number-cell-mobile{
	display: none;
}

.b-circle-n{
	background: url('../img/sprites-i.png') no-repeat -15px -183px;
	width: 127px;
	height: 127px;
	text-align: center;
	line-height: 127px;
	margin: 0 auto;
	font-size: 35px;
	color: #fff;
	position: relative;
}
.b-circle-n-2{	
	background: url('../img/sprites-i.png') no-repeat -153px -189px;
	width: 121px;
	height: 121px;
	line-height: 121px;
}
.b-circle-n-line:before,
.b-circle-n-line:after{
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -0.5px;
	width: 1px;
	height: 100%;
	border-right: 1px dashed #816BB0;
}
.b-circle-n-line:before{bottom: 100%;}
.b-circle-n-line:after{top: 100%;}

.b-circle-n-line-2:before,
.b-circle-n-line-2:after{
	border-color: #F67879;
}

.bg-number-3  .b-number .b-number-text,
.bg-number-3  .b-number .b-number-cell-pict{
	width: 40%;
}

.bg-number-4 .wrap{
	max-width: 1230px;
}
.bg-number-4  .b-number .b-number-text,
.bg-number-4  .b-number .b-number-cell-pict{
	width: 42%;
}
.bg-number-4  .b-number .b-number-text{
	font-size: 19px;
}
.bg-number-4 .b-circle-n-line:after{
	display: none;
}
.bg-number-4  .b-number .b-number-text{
	padding-left: 90px;
}

@media screen and (max-width: 1100px) {		
	
	.bg-number-4  .b-number .b-number-text{
		padding-left: 20px;
	}
	
}

@media screen and (max-width: 767px) {		
	
	.b-circle-n-line:before,
	.b-circle-n-line:after{
		display: none;
	}
	.b-number-text p{
		max-width: 545px;
		margin: 15px auto;
		text-align: center;
	}	
	.b-number,
	.b-number-cell,
	.b-number-cell-mobile{
		display: block;
		width: 100%!important;
		text-align: center;
		height: auto;
	}
	.b-number-cell:nth-of-type(1){
		display: none;
	}
	.b-number-cell-circle{			
		padding-top: 25px;
	}	
	.bg-number-4  .b-number .b-number-text{
		padding-left: 0;
	}
	
}
@media screen and (max-width: 479px) {		
	
	.b-number{
		font-size: 18px;
	}
	
}















.b-nothing{
	height: 200px;
	display: table;
	width: 100%;
}
.b-nothing-cell{
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 479px) {		
	
	.b-nothing{
		height: 105px;		
	}
	
}













.bg-stop-2{
	min-height: 427px;
	background: #373A43 url('../img/bg/bg-stop-2.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

.b-stop-2{
	height: 367px;
	display: table;
	width: 100%;
	color: #fff;
	text-align: center;
}
.b-stop-2-cell{
	display: table-cell;
	vertical-align: middle;
	padding-top: 25px;
}

.b-stop-2-cell h2{
	font-size: 80px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 900;
}
.b-stop-2-cell h2 > span{
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-top: 10px;
}

@media screen and (max-width: 767px) {		
	
	.bg-stop-2{			
		background: #373A43;	
		min-height: 1px;
	}
	.b-stop-2{	
		height: 250px;				
	}
	.b-stop-2-cell{		
		padding-top: 0;
	}
	
}
@media screen and (max-width: 479px) {		
	
	.b-stop-2{	
		height: 150px;				
	}
	.b-stop-2-cell h2{
		font-size: 70px;		
	}
	.b-stop-2-cell h2 > span{		
		font-size: 24px;		
	}
	
}
@media screen and (max-width: 400px) {		
	
	.b-stop-2-cell h2{
		font-size: 60px;		
	}
	.b-stop-2-cell h2 > span{		
		font-size: 20px;		
	}
	
}








.b-whom{
	margin-top: 88px;
}

.b-whom-pict{
	line-height: 0;	
}
.b-whom-pict > img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.b-whom-text{
	padding-left: 5px;
	font-size: 20px;
	font-weight: 300;
}
.b-whom-text h2{
	margin-top: 20px;
}

.b-whom-row-1{
	margin-bottom: 35px;
}

.b-whom-row-2 .b-whom-text{
	padding-left: 0;
	padding-top: 75px;
}
.b-whom-row-2 .b-whom-pict{
	text-align: right;
}

.b-whom-row-3{
	margin-bottom: 25px;
}
.b-whom-row-3 .b-whom-text{	
	padding-top: 70px;
}

@media screen and (max-width: 767px) {		
	
	.b-whom{
		margin-top: 0px;
	}
	.b-whom-text{
		padding: 0!important;		
	}
	.b-whom-pict,
	.b-whom-row-2 .b-whom-pict,
	.b-whom-text h2{
		text-align: center;
	}
	
}

@media screen and (max-width: 600px) {		
	
	.b-whom-text{		
		font-size: 18px;		
	}
	.b-whom-text h2{
		font-size: 24px;
	}
	
}

@media screen and (max-width: 479px) {		
	
	.b-whom-text{		
		font-size: 16px;		
	}
	
}















.bg-stop-3{
	min-height: 412px;
	background: #7538F6 url('../img/bg/bg-stop-3.jpg') no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
}

.b-stop-3{
	height: 332px;
	display: table;
	width: 100%;
	color: #fff;	
}
.b-stop-3-cell{
	display: table-cell;
	vertical-align: middle;
	padding-top: 0px;
}

.b-stop-3-cell h2{
	font-size: 80px;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	font-weight: 700;
}
.b-stop-3-cell h2 > span{
	display: block;
	font-size: 25px;
	font-weight: 300;
	margin-top: 25px;
}

@media screen and (max-width: 767px) {		
	
	.bg-stop-3{			
		background: #753AF6;	
		min-height: 1px;
	}
	.b-stop-3{	
		height: 250px;		
		text-align: center;
	}
	.b-stop-3-cell{		
		padding-top: 0;
	}
	
}
@media screen and (max-width: 479px) {		
	
	.b-stop-3{	
		height: 150px;				
	}
	.b-stop-3-cell h2{
		font-size: 70px;		
	}
	.b-stop-3-cell h2 > span{		
		font-size: 22px;		
	}
	
}
@media screen and (max-width: 400px) {		
	
	.b-stop-3-cell h2{
		font-size: 60px;		
	}
	.b-stop-3-cell h2 > span{		
		font-size: 20px;		
	}
	
}
















.packages__item-future{
	text-align: center;
	max-width: 1040px;
	margin: 0 auto;
}

.packages__item-future-inner{
	max-width: 495px;
	margin: 73px auto 85px auto;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	border: 1px solid #CBCBCB;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
}

.packages__item-future-inner-head{
	padding-bottom: 66.47%;
	position: relative;
	border-radius: 10px 10px 0 0;
}
.packages__item-future-inner-head > img{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
}

.packages__item-future-inner-date{
	position: absolute; bottom: 10%; left: 0;
	width: 100%;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	z-index: 9;
	font-size: 25px;
	letter-spacing: 3px;
}

.packages__item-future-inner-body{
	padding: 30px 60px;
	font-size: 25px;
	font-weight: 300;
}
.packages__item-future-inner-body p{
	margin: 4px 0;
}

@media screen and (max-width: 992px) {		
	
	.packages__item-future-inner-body{
		padding: 20px 30px;		
	}
	
}
@media screen and (max-width: 767px) {		
	
	.packages__item-future-inner{		
		margin: 25px auto 0 auto;		
	}

}
@media screen and (max-width: 479px) {		
	
	.packages__item-future-inner-body{
		padding: 15px 15px;		
		font-size: 20px;
	}
	
}













.wrap-speakers{
	padding-top: 75px;
	padding-bottom: 8px;
}

.b-speakers h2 + p{
	font-size: 25px;
	text-align: center;
	margin: 33px 0 25px;
}


.b-speaker{
	text-align: center;
	margin: 12px 0 56px;
}
.b-speaker-pict{
	position: relative;
	margin: 0 auto;
	width: 214px;
	height: 214px;	
	border-radius: 50%;
	overflow: hidden;
}

.b-speaker-pict > img{
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

.b-speaker-pict:before{
	content: '';
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(139,35,35,0.65);
	opacity: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 50%;
}
.b-speaker-pict-hover{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	display: table;
	opacity: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.b-speaker-pict-hover-cell{
	display: table-cell;
	vertical-align: middle;
}
.b-speaker-pict:hover .b-speaker-pict-hover,
.b-speaker-pict:hover:before{
	opacity: 1;
}

.b-speaker-caption{
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}

@media screen and (max-width: 600px) {		
	
	.wrap-speakers{
		padding-top: 35px;		
	}
	.b-speakers h2 + p{
		font-size: 20px;		
		margin: 15px 0;
	}
	
	.b-speakers-inner [class*=col-]{
		width: 100%;
	}
	.b-speaker{		
		margin: 12px 0 36px;
	}
	
}










.partners{
	background-color: #fff;
}

.partners__inner{
	max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 40px 15px;
}

.partners__content{
	max-width: 960px;
	margin: 0 auto 25px auto;
}

.partners__title{
	font-size: 25px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
	font-weight: 400;
	margin: 33px 0 5px;
}

.partner{
	max-width: 255px;
	margin: 15px auto;
}

.partner__inner{
	display: block;
	padding-bottom: 52.94%;
	overflow: hidden;
	position: relative;
	background-color: #545454;
	color: #fff;
}

.partner__inner::before{
	content: '+';
	color: #fff;
	font-size: 80px;
	font-weight: 700;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%, -50%);
	transition: transform .3s ease;
}

.partner__inner:hover::before{
	transform: translate(-50%, -50%) scale(1.3);
}

@media screen and (max-width: 600px) {		
	
	.partners__content [class*=col-]{
		width: 100%;
	}	
	
}

















.bg-programm{
	background: #F1F8FB;
}

.b-programm{
	margin: 45px 0;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	border: 1px solid #CBCBCB;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
	position: relative;
}
.b-programm:before{
	content: '';
	width: 2px;
	height: 100%;
	background: #EDEEF0;
	position: absolute; top: 0; left: 50%;
	margin-left: -1px;
}

.b-programm-inner{
	padding: 37px 85px 35px 85px;
}
.b-programm-inner h3{
	text-align: center;
	font-size: 20px;
	color: rgb(28, 28, 28);
	text-transform: uppercase;
	line-height: 1.2;
	letter-spacing: 2px;
	font-weight: 600;
}
.b-programm-inner h4{
	text-align: center;
	font-size: 30px;
	color: rgb(28, 28, 28);	
	line-height: 1.2;
	font-weight: 700;
	margin-top: 3px;
}
.b-programm-inner p{
	margin-top: 32px;
}
.b-programm-inner p:first-of-type{
	margin-top: 22px;
}

.b-programm-important{
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.b-programm-important:before{
	content: '';
	position: absolute; top: 50%; left: 50%;
	background: url('../img/sprites-i.png') no-repeat -9px -342px;
	width: 312px;
	height: 34px;
	margin: -17px 0 0 -156px;
}
.b-programm-important-2:before{
	content: '';
	position: absolute; top: 50%; left: 50%;
	background: url('../img/sprites-i.png') no-repeat -9px -408px;
	width: 352px;
	height: 34px;
	margin: -17px 0 0 -176px;
}
.b-programm-important > span{
	position: relative;
	font-weight: 700;
}

@media screen and (max-width: 1100px) {		
	
	.b-programm-inner{
		padding: 30px 55px 30px;
	}
	
}
@media screen and (max-width: 992px) {		
	
	.b-programm-inner{
		padding: 30px 35px 30px;
	}
	
}
@media screen and (max-width: 850px) {		
	
	.b-programm-inner{
		padding: 30px 15px 30px;
	}
	
}
@media screen and (max-width: 767px) {		
	
	.b-programm:before{
		display: none;
	}
	.b-programm-inner{
		padding: 30px 35px 30px;
	}
	
}
@media screen and (max-width: 479px) {		
	
	.b-programm-inner{
		padding: 30px 15px 30px;
	}
	.b-programm-important{
		background: #FFE138;
		padding: 5px 10px;
		border-radius: 3px;
	}
	.b-programm-important:before{
		display: none;
	}
	
	.b-programm-inner p{
		margin-top: 22px;
	}
	
}










.bg-map{
	background: #011031;
	min-height: 610px;
	color: #fff;
}

.b-map-text{
	max-width: 390px;
	font-size: 30px;
	font-weight: 300;
}
.b-map-text h2{
	margin: 100px 0 75px;
}


.map-widget{
	position: relative;
}

.map-widget-inner{	
	width: 100%;
	height: 610px;
	position: absolute; top: -40px; left: 0;	
	z-index: 1;
	background: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2vw;
	color: #555;
	text-transform: uppercase;
	font-weight: 700;
}

@media screen and (max-width: 1100px) {		
	
	.b-map-text h2{
		margin: 70px 0 55px;
	}
		
}
@media screen and (max-width: 767px) {		
	
	.b-map-text{
		text-align: center;
		margin: 0 auto;
		font-size: 25px;
	}
	.b-map-text h2{
		margin: 10px 0 15px;
	}
	.b-map-widget{
		height: 350px;
	}
	#map{			
		height: 350px;
		top: 20px;
	}
			
}
@media screen and (max-width: 479px) {		
	
	.b-map-text{		
		font-size: 20px;
	}			
}













.wrap-produced{
	padding-top: 75px;
}

.b-produced{	
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 125px;
}

.b-produced-inner{
	margin-top: 85px;
}
.b-produced-inner-brain{
	margin-top: 115px;
}

.b-produced-photo{
	line-height: 0;
	margin: 43px 0 15px;
}
.b-produced-photo > img{
	border-radius: 50%;
}


.b-produced-text p{
	margin-top: 22px;
}

@media screen and (max-width: 992px) {		
	
	.b-produced-inner h2{		
		font-size: 24px;
	}	
	
}
@media screen and (max-width: 776px) {		
	
	.b-produced{	
		margin-bottom: 25px;
	}
	
	.b-produced-photo{		
		margin: 5px 0;
	}
	.b-produced-inner{
		margin-top: 35px;
	}
	.b-produced-inner-brain{
		margin: 45px 0;
	}
	
}




















/*-------------------------------------------------*/
/* =  start.begin
/*-------------------------------------------------*/

.start {
	min-height: 716px;
	background: url('../img/bg/bg-start.jpg') no-repeat center top;
}

.start__inner {	
	color: #fff;
	max-width: 1110px;
    margin: 0 auto;
    position: relative;
    padding: 160px 15px 40px;
}

.start__content {
	padding-left: calc(33.333% + 100px);
	font-size: 28px;
	font-weight: 300;
}

.start__title {
	margin-bottom: 33px;
}

.start__paragraph {
	line-height: 1.25;
}

@media screen and (max-width: 991px) {

	.start__content {
		padding-left: 0;
	}

}

@media screen and (max-width: 767px) {

	.start {
		min-height: 400px;
		background: url('../img/bg/bg-start-mobile.jpg') no-repeat center top;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.start__inner {
		padding-top: 60px;
	}

	.start__content {
		font-size: 24px;
		margin: 0 auto;
		text-align: center;
	}

}

@media screen and (max-width: 480px) {

	.start {
		min-height: 300px;
	}

	.start__inner {
		padding-top: 40px;
	}

	.start__content {
		font-size: 20px;
	}

}

/*-------------------------------------------------*/
/* =  start.end
/*-------------------------------------------------*/











/*-------------------------------------------------*/
/* =  packages.begin
/*-------------------------------------------------*/

.packages__inner {
	max-width: 1110px;
	margin: 0 auto;
	position: relative;
	padding: 65px 15px 150px;
}

.packages__subtitle{
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 10px;
}

.packages__item {
	margin: 45px auto 0 auto;
	max-width: 260px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #CBCBCB;
	box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.25);
	position: relative;
	transition: 0.3s;
}

.packages__item:hover {
	border-color: #FF1979;
}

.packages__item-head {
	padding: 30px 20px 10px;
	text-align: center;
}

.packages__item-title {
	font-size: 20px;
}

.packages__item-date {
	font-size: 16px;

	text-transform: uppercase;
	letter-spacing: 3px;
}

.packages__item-title,
.packages__item-date {
	color: rgb(24, 24, 24);
	line-height: 1.2;
	text-align: center;
	font-weight: 700;
}

.packages__item-body {
	padding: 10px 20px 30px;
	text-align: center;
	min-height: 450px;
}

.packages__list-item {
	font-size: 14px;
	padding: 5px 0;
	border-top: 1px dashed #E6E6E6;
}

.packages__list-item:first-child {
	font-weight: 700;
	font-size: 16px;
	border-top: none;
}

.packages__item-price {
	padding: 10px 20px 5px;
	text-align: center;
}

.packages__item-price-now {
	font-size: 20px;
	color: rgb(24, 24, 24);
	line-height: 1.2;
	text-align: center;
	font-weight: 700;
	font-weight: 400;
	margin-bottom: 5px;
}

.packages__item-price-new {
	font-size: 15px;
	color: #B3B3B3;
	margin: 0;
}

.packages__item-foot {
	padding: 0px 20px 20px;
}

.packages__exchange-rate{
	font-size: 20px;
	color: rgba(77, 77, 77, .902);
	line-height: 1.2;
	font-weight: 600;
	text-align: center;
	margin: 50px auto;
}

@media screen and (max-width: 992px) {

	.packages__item-body {
		min-height: 150px;
	}

	.packages__item {
		max-width: 460px;
	}

}

@media screen and (max-width: 576px) {

	.packages__inner {
		padding-top: 45px;
		padding-bottom: 25px;
	}

	.packages__subtitle{
		font-size: 22px;
	}

}

/*-------------------------------------------------*/
/* =  packages.end
/*-------------------------------------------------*/









/*-------------------------------------------------*/
/* =  comments.begin
/*-------------------------------------------------*/

.comments{
	margin: 80px auto 50px auto;
}
.comments__head{
	max-width: 750px;
	margin: 0 auto 15px auto;
	text-align: center;
	font-size: 20px;
}

.comments__body{
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	background-color: #f7f7f7;
	height: 0;
	margin-top: 30px;
}

/*-------------------------------------------------*/
/* =  comments.end
/*-------------------------------------------------*/









/*-------------------------------------------------*/
/* =  wait.begin
/*-------------------------------------------------*/

.wait {
	min-height: 730px;
	background: url('../img/bg/bg-wait.jpg') no-repeat center top;
}

.wait__inner {
	max-width: 1110px;
	margin: 0 auto;
	position: relative;
	padding: 40px 15px;
	min-height: 650px;
}

.wait__content {
	margin-top: 325px;
	text-align: right;	
}

.wait__title {
	display: inline-block;
	vertical-align: top;
	max-width: 705px;
	width: 100%;
	background-color: rgba(250, 95, 95, 0.851);
	border-radius: 5px;
	text-align: left;
	padding: 30px 40px;
	font-family: 'Segoe Script', sans-serif;
	font-size: 42px;
	font-weight: 400;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 54px rgba(0, 0, 0, 0.31);	
	line-height: 1.9;
}

.wait__ballon {
	position: absolute;
	bottom: -80px;
	left: 0;
}

@media screen and (max-width: 1000px) {

	.wait__content {
		margin-top: 275px;		
	}

	.wait__title {
		max-width: 605px;
		padding: 20px 20px;
		position: relative;
		z-index: 9;
		line-height: 1.5;
		font-size: 32px;
	}

}

@media screen and (max-width: 600px) {

	.wait {
		min-height: 530px;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.wait__content {
		margin-top: 275px;		
	}

	.wait__title {
		max-width: 505px;
		padding: 10px;
		line-height: 1.5;
		font-size: 26px;
	}

	.wait__ballon {
		bottom: 0;
	}

}

/*-------------------------------------------------*/
/* =  wait.end
/*-------------------------------------------------*/








/* ----------------------------------------- */
/* footer.begin
/* ----------------------------------------- */

.footer{
	background: #E8E8E8;
}

.footer__inner{
	max-width: 1110px;
    margin: 0 auto;
    position: relative;
	color: #858585;
	font-size: 15px;
	padding: 29px 15px 24px;
}

.footer__menu{
	padding: 0;
	font-size: 12px;
}

.footer__menu-item{
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;	
}

.footer__menu-link,
.footer__creator-site-link{
	color: #858585;
	text-decoration: underline;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.footer__menu-link:hover,
.footer__menu-link:focus,
.footer__menu-link:active,
.footer__creator-site-link:hover,
.footer__creator-site-link:focus,
.footer__creator-site-link:active{
	text-decoration: none
}

.footer__menu-item,
.footer__creator-site{
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer__creator-site{
	text-align: right;
	font-size: 12px;
}

@media screen and (max-width: 767px) {		
	
	.footer__inner,
	.footer__creator-site{
		text-align: center;	
	}
	
}
@media screen and (max-width: 576px) {		
	
	.footer__menu-item{
		display: block;		
		margin: 0;
	}
	
}
/* ----------------------------------------- */
/* footer.end
/* ----------------------------------------- */



















/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute; top: 0;	left: 0;
	z-index: 8020;
}


.fancybox-skin {
	position: relative;	
	color: #444;
	text-shadow: none;		
}
.fancybox-opened {
	z-index: 8030;	
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}
.fancybox-inner {
	overflow: hidden;
}
.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}
.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, 
.fancybox-prev span, 
.fancybox-next span {
	background-image: url('../fancybox/fancybox_sprite.png');
}
#fancybox-loading {
	position: fixed; top: 50%; left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../fancybox/fancybox_loading.gif') center center no-repeat;
}
.fancybox-close {
	position: absolute; top: -5px; right: 25px;
	width: 15px;
	height: 14px;
	background: url('../fancybox/close.png');
	cursor: pointer;
	z-index: 9040;
}

.fancybox-modal-form .fancybox-close {
	position: absolute; top: 0px; right: -17px;
	width: 16px;
	height: 16px;
	background: url('../fancybox/close-form.png');
	cursor: pointer;
	z-index: 9040;
}

@-moz-document url-prefix() { 
	  .fancybox-modal-form .fancybox-close {
		right: -25px;		
	}
}


.fancybox-nav {
	position: absolute;	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}
.fancybox-prev {left: 0;}
.fancybox-next {right: 0;}


.fancybox-nav span {
	position: absolute;	top: 50%; 
	width: 32px;
	height: 32px;
	margin-top: -16px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
	visibility: visible;
}
.fancybox-prev span {
	left: 10px;
	background: url('../owl-carousel/arrows.png') no-repeat -14px -55px;
}
.fancybox-next span {
	right: 10px;
	background: url('../owl-carousel/arrows.png') no-repeat -55px -55px;
}

.fancybox-nav:hover span {
	visibility: visible;
}
.fancybox-tmp {
	position: absolute;	top: -99999px;	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}
.fancybox-lock body {
    overflow: hidden !important;
}
.fancybox-lock-test {
    overflow-y: hidden !important;
}
.fancybox-overlay {
	position: absolute;	top: 0;	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('../fancybox/fancybox_overlay.png');
	background: rgba(23,24,26,0.8);
}
.fancybox-overlay-fixed {
	position: fixed; bottom: 0; right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}
.fancybox-opened .fancybox-title {
	visibility: visible;
}
.fancybox-title-float-wrap {
	position: absolute;	bottom: 0; right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap {
	padding-top: 10px;
}
.fancybox-title-over-wrap {
	position: absolute;	bottom: 0;	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading /*.fancybox-prev span, .fancybox-next span*/ {
		background-image: url('../fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/		
	}
	#fancybox-loading div {
		background-image: url('../fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}	
	.fancybox-close {
		top: -20px; right: 0;
	}
	.fancybox-modal-form .fancybox-close {
		top: -10px; right: 0;		
	}
	
}



[id^=thnks]{
	display: none;
	padding: 35px 45px 25px;
	text-align: center;
	background: #fff;
	color: #1E2022;
	max-width: 600px;
	border-radius: 5px;
	box-shadow: none;
}
[id^=thnks] h2{			
	margin-bottom: 15px;		
	line-height: 1.2;
}
[id^=thnks] p{
	font-size: 18px;	
	margin-top: 10px;
}

#thnks2{
	max-width: 1000px;
}

@media screen and (max-width: 500px) {		
	
	[id^=thnks]{	
		padding: 25px 15px 15px;	
	}	
		
}








/*-------------------------------------------------*/
/* =  form.begin
/*-------------------------------------------------*/

form label{
	display: none;
}
form input[type="text"],
form input[type="tel"],
form input[type="email"],
form textarea{
	width: 100%;
	height: 45px;
	line-height: 45px;
	border: 1px solid #9A9FAB;
	padding: 2px 15px;
	font-size: 16px;	
	border-radius: 35px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form textarea:focus{
	background: #fff;
	border: 1px solid #2425C8;
}
form input[type="text"].input-lg,
form input[type="tel"].input-lg,
form input[type="email"].input-lg{
	height: 60px;
}

input:-moz-placeholder, textarea:-moz-placeholder {color: #BCBCBC;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #BCBCBC;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #BCBCBC;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #BCBCBC;}

input[type="submit"]{	
	width: 100%;
	height: 40px;
	line-height: 39px;
	display: block;
	margin: 0 auto;
	text-align: center;	
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 18px;
	color: #fff;
	-webkit-appearance: none;
	outline: none;
	border: none;	
	text-transform: uppercase;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	border-radius: 35px;
	border-bottom: 3px solid #000F74;	
	box-shadow: 0 5px 55px rgba(0,15,116,0.5);
	background: linear-gradient(to bottom,  #4e2af1 0%,#1422b8 50%,#001a8d 100%);
}
input[type="submit"].input-lg{
	height: 55px;
	line-height: 54px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active{
	color: #fff;	
	background: linear-gradient(to bottom,  #001a8d 0%,#1422b8 50%,#4e2af1 100%);
}

form input[type="text"].error,
form input[type="tel"].error,
form input[type="email"].error,
form textarea.error,
.modal form input[type="text"].error,
.modal form input[type="tel"].error,
.modal form input[type="email"].error{		
	outline: 0;		
	border: 1px solid #f00;		
	position: relative;
	z-index: 10;
}
form label.error{	
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #f00;	
	display: block;	
	display: none!important;
}


.form-item{
	margin-top: 15px;
	position: relative;
}


.modal{
	display: none;
}

[id^=popup-]{
	display: none;
	background: #fff;
	max-width: 400px;  
	border-radius: 7px;
	box-shadow: 0 5px 25px rgba(0,0,0,0.4);
}

.modal-inner{
	text-align: center;
}
.modal-inner form{	
	padding: 20px 30px 30px;	
}
.modal-inner form > h2{
	font-size: 30px;
	line-height: 1.25;	
	color: #000;	
	font-weight: 700;
}
.modal-inner form > h2 + p{
	font-size: 18px;
	font-weight: 300;
}
.modal-inner form input{
	text-align: center;	
}

@media screen and (max-width: 576px) {		
	
	.modal-inner form{	
		padding: 25px 15px 15px;	
	}
	.modal-inner form [type="submit"]{
		font-size: 16px;
	}
		
}

@media screen and (max-width: 400px) {		
	
	.modal-inner form [type="submit"]{
		font-size: 14px;
	}	
}


/*-------------------------------------------------*/
/* =  form.end
/*-------------------------------------------------*/







/*-------------------------------------------------*/
/* =  lazy images.begin
/*-------------------------------------------------*/
.b-lazy {
  transition: opacity 500ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  lazy images.end
/*-------------------------------------------------*/